################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/.vs/Project1/v17
/Project1/.vs/Project1/FileContentIndex/5323dcf0-e1ff-446f-b6fb-197a9b871382.vsidx
/Project1/.vs/Project1/FileContentIndex/c6b1d481-49ae-4231-9657-1e586c99b3c1.vsidx
/Project1/.vs/Project1/FileContentIndex/cf9512fa-76bb-4c51-a7d5-3242c8feb73d.vsidx
/Project1/.vs/Project1/FileContentIndex/f82e3183-558c-4682-8e3e-d8c506a623b5.vsidx
